* body{
    background-color: rgb(35, 35, 39);
}

.color1{
    color:green;
}
.text_centre {text-align:center;
}

header {font-weight: bold;
    font-size: 2em;
    border-bottom: 2px solid rgb(221, 221, 221) ;
    color: green;
}

main {padding:20px;
    border:2px solid rgb(221, 221, 221);
    margin-top: 2em;
    background-color: white;
}

img {padding: 1em;
    transition: 1s;
}

.myDetails {
    margin-top: 1em;
    font-weight: bold;
    
}
.project {
    font-size: 1.5em;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.screenshot {
    transition: 1s;
    width: 45%;
    display: inline-block;
}
.bold {
    
    font-weight: bold;
}
.moreAbout {
    font-weight: bold;
    border:solid rgb(172, 172, 172);
    margin-top: 1em;
    padding-right: 0px;
    max-height: 150px;
    overflow: hidden;
}
.screenshot_full {
    width: 100%;
}
.scrolling-wrapper {
    background-color: gray;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.screenshot-size-large {
    width: 80%;
}
.p1-screenshot{
    width: 40%;
    height:300px;
}
.p2-screenshot{
    width: 40%;
    height:300px;
}
img:hover {
    transition: 1s;
    width: 60%;
    height:auto;
  }
@media screen and (max-width: 700px) {
    article {min-width: 200%;
    }
    img {margin: auto;
        min-width: 100%
    };

}

